<div class="jumbotron">
    <h1>SimpleWebAPI</h1>
    <p class="lead">SimpleWebAPI is a free API for building great courses.</p>
    <p>Click @Html.ActionLink("API Help", "Index", "Help", new { @class = "btn btn-primary btn-lg" }, null) to learn more.</p>
</div>

